.hero-image {
  background-image: linear-gradient(
      rgba(230, 224, 224, 0.5),
      rgba(247, 243, 243, 0.5)
    ),
    url("BestPriceLogo.png");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.Searchbut {
  background-color: white;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  margin-left: 39.5%;
  margin-top: 22.5%;
  position: relative;
  font-size: 16px;
  border-radius: 5px;
  float: left;
  border: 2px solid #4caf50;
}
.Searchbut:hover {
  background-color: #4caf50;
}

.inputbar {
  border-radius: 5px;
  left: 39%;
  top: 81%;
  float: left;
  padding: 5px 15px;
  position: relative;
  border: 2px solid #4caf50;
}
