.woolworthlogoClass {
  margin: 5%;
  text-align: center;
  width: 40%;
  float: left;
}

.aldilogoClass {
  margin: 5%;
  margin-top: 4%;
  text-align: center;
  width: 40%;
  float: left;
}

.woolworthlogo {
  width: 20%;
  height: 20%;
}

.aldilogo {
  width: 15%;
  height: 15%;
}
